* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.user-header {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
}
.user-input {
  border: 3px solid rgb(10, 10, 10);
  background-color: transparent;
  height: 48px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  padding: 0 24px;
}
.user-input:focus {
  border: 3px solid rgb(100, 0, 0);
}
.user-input:-webkit-autofill,
.user-input:-webkit-autofill:hover,
.user-input:-webkit-autofill:focus,
.user-input:-webkit-autofill:active {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}
.user-container {
  display: flex;
  gap: 12px;
}
.user-container1 {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.user-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(100, 0, 0);
  width: 100%;
  height: 48px;
  border-radius: 10px;
}
.user-svg {
  height: 16px;
  width: 16px;
}
.user-svg1 {
  height: 24px;
  width: 24px;
}
.showPassword {
  position: absolute;
  right: 9px;
  top: 16px;
  cursor: pointer;
}
.user-nav {
  display: flex;
  align-items: center;
  padding: 0 12px;
  justify-content: center;
}
.user-nav1 {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 24px;
}
.user-menu-list {
  display: flex;
  height: 48px;
  align-items: center;
  gap: 12px;
}
.user-menu.dropdown {
  display: flex;
}

.user-pd-img {
  object-fit: cover;
}
.user-pd-img.active {
  border: 3px solid rgb(10, 10, 10);
  border-radius: 10px;
}
.user-header1 {
  display: flex;
  align-items: center;
  padding: 0 12px;
  font-size: 32px;
  font-weight: bold;
}
.user-product-card-container {
  display: flex;
  height: 577px;
  gap: 12px;
  padding: 12px;
}
.user-footer {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.user-nav-list.show {
  display: flex;
}
.user-cartItems-info,
.user-myOrders {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.user-myOrder-status {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(100, 0, 0);
  height: 48px;
  padding: 0 12px;
  border-radius: 10px;
}
.user-productScrollBar::-webkit-scrollbar {
  display: none;
}
.user-productScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
