* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.admin-product-modal.show {
  display: flex;
}
.admin-editProduct-modal.show {
  display: flex;
}
.admin-input:-webkit-autofill,
.admin-input:-webkit-autofill:hover,
.admin-input:-webkit-autofill:focus,
.admin-input:-webkit-autofill:active {
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
}
.admin-status-list.show {
  display: flex;
}
.admin-orderDetails.show {
  display: flex;
}
.admin-nav-list.show {
  display: flex;
}
.admin-productModalInput {
  height: 48px;
  background-color: transparent;
  border: 3px solid rgb(10, 10, 10);
  border-radius: 10px;
  outline: none;
  padding: 0 24px;
}
.admin-productModalInput:focus {
  border: 3px solid rgb(100, 0, 0);
}
